# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable increment-number': 'increment-number:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Increment Number'
      'submenu': [
        { 'label': 'Increment', 'command': 'increment-number:increase' },
        { 'label': 'Decrement', 'command': 'increment-number:decrease' }
      ]
    ]
  }
]
